<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>RankNote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/index.css">
    <script src="/main.js" defer></script>
   
    <body>
        <audio id="sound" type="audio/wav"></audio>
        <audio id="sound2" type="audio/wav"></audio>
        <audio id="sound3" type="audio/wav"></audio>

        <div id="content">
            <!--<div id="seedLoad">
                <input type="text" placeholder="seed" id="seedInput">
                <button id="submit">Generate sound from seed</button>
            </div>-->
            <button id="button">Play Tune</button>

            <div id="rate">
                <span id="emptyStar">&#9734;</span>
                <span id="fillStar">&#9733;</span>
                <span id="star1">&#9734;</span>
                <span id="star2">&#9734;</span>
                <span id="star3">&#9734;</span>
                <span id="star4">&#9734;</span>
                <span id="star5">&#9734;</span>
            </div>
        </div>
    </body>
</html>